{% extends 'catalogueESMT/base.html'%}
{% load static %}
{% block content %}
    <div id="index-banner" class="parallax-container">
      <div class="section no-pad-bot">
        <div class="container">
          <br><br>
          <h1 class="header center forma-logo"><span class="per-text-blue">Formation</span><span class="per-text-green">ESMT</span></h1>
          <div class="row center">
            <h5 class="header col s12 white-text">The plateform for your skills/career improvement !</h5>
          </div>
          <div class="row center">
            <a href="#" id="download-button" class="btn-large waves-effect waves-light button-per">Get Started</a>
          </div>
          <br><br>
  
        </div>
      </div>
      <div class="parallax"><img  src="{% static 'ressource/estm-institutionnel.jpg'%}" alt="Unsplashed formation"></div>
    </div>
  
  
    <div class="container">
      <div class="section">
  
        <!--   Icon Section   -->
        <div class="row">
          <div class="col s12 m4">
            <div class="icon-block">
              <h2 class="center per-text-green"><i class="material-icons">explore</i></h2>
              <h5 class="center">Explore all training courses we offer</h5>
  
              <p class="light">In our plateform, we offer differents training courses so feel free to explore all of them.</p>
            </div>
          </div>
  
          <div class="col s12 m4">
            <div class="icon-block">
              <h2 class="center per-text-blue"><i class="material-icons">account_circle</i></h2>
              <h5 class="center">Create an account</h5>
  
              <p class="light">Have access to all the courses you want just by creating an account. So go ahead and get started now.</p>
            </div>
          </div>
  
          <div class="col s12 m4">
            <div class="icon-block">
              <h2 class="center per-text-green"><i class="material-icons">info</i></h2>
              <h5 class="center">Easy Info</h5>
  
              <p class="light">Get all the informations you need about a course or how to join it just by some clicks. So don't lose a minute and go ahead!!!</p>
            </div>
          </div>
        </div>
  
      </div>
    </div>
  
  
    <div class="parallax-container valign-wrapper">
      <div class="section no-pad-bot">
        <div class="container">
          <div class="row center">
            <div class="col s12 center">
              <h3><i class="mdi-content-send white-text "></i></h3>
              <h4>About Us</h4>
              <p class="left-align light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id nunc nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac. Cras ut ultricies eros. Maecenas eros justo, ullamcorper a sapien id, viverra ultrices eros. Morbi sem neque, posuere et pretium eget, bibendum sollicitudin lacus. Aliquam eleifend sollicitudin diam, eu mattis nisl maximus sed. Nulla imperdiet semper molestie. Morbi massa odio, condimentum sed ipsum ac, gravida ultrices erat. Nullam eget dignissim mauris, non tristique erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>
            </div>
          </div>
        </div>
      </div>
      <div class="parallax"><img src="{% static 'ressource/formation3.jpg'%}" ></div>
    </div>
{% endblock %}