{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.css'%}"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="{% static 'css/style.css'%}"  media="screen,projection"/>
    

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Catalogue des formations de l'ESMT</title>
  </head>

  <body>
    <nav class="white" role="navigation">
      <div class="nav-wrapper container">
        <a id="logo-container" href="#" class="brand-logo forma-logo">FormationESMT</a>
        {% block navbar %}

        {% endblock %}
        <ul class="right hide-on-med-and-down">
          <li>
            <a href="#">Liste des formations</a>
          </li>
        </ul>
      </div>
    </nav>
  
    {% block content %}

    {% endblock %}
  
    <div class="container">
      <div class="section">
  
        <div class="row">
         
        </div>
  
      </div>
    </div>
  

    <footer class="page-footer per-back">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">Project Bio</h5>
            <p class="grey-text text-lighten-4">Dans le cadre de sa mission de développement et de vulgarisation des Télécommunications/TIC en Afrique, l’ESMT développe des sessions de formation continue. Sous forme de séminaires et d’ateliers, elles participent au perfectionnement des techniciens, ingénieurs et cadres des entreprises et institutions africaines.  </p>
  
  
          </div>
          <div class="col l6 s12">
            <h5 class="white-text">Apropos de l'ESMT</h5>
            <ul>
              <li><a class="white-text" href="www.esmt.sn">Ecole Superieure Multinationale des Telecommunications</a></li>
              <li><a class="white-text" href="https://www.linkedin.com/company/esmt-dakar/">LinkedIn ESMT</a></li>
              <li><a class="white-text" href="https://web.facebook.com/ESMTSenegal">Facebook ESMT</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
        Made by a groupe of students
        </div>
      </div>
    </footer>

    <!--JavaScript at end of body for optimized loading-->
    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="{% static 'js/materialize.js' %}"></script>
    <script src="{% static 'js/init.js'%}"></script>
    <!--<script src="assets/js/jquery.min.js"></script>
		<script src="{% static 'js/skel.min.js'%}"></script>
		<script src="{% static 'js/util.js'%}"></script>
		<script src="{% static 'js/main.js'%}"></script>-->
  </body>
</html>