{% extends 'catalogueESMT/base.html'%}
{% load static %}
{% block content %}
<div class="row">
    <div class="col s6 offset-s3 center per-form">
        <h2 class="light">Ajouter une session :</h2>
        <form action="" method="POST">
                {% csrf_token %}
                <div>
                    <label>Date :</label>
                    <input type="date" name="date">
                </div>
                <div>
                    <label>Duree en jour :</label>
                    <input type="number" name="duree">
                </div>
                <div>
                    <label>Lieu :</label>
                    <input  name="lieu">
                </div>    
                <div>
                    <label>Formations :</label>
                    <select name="formation">
                        {% for formation in formations %}
                            <option value="{{ formation }}">{{ formation }}</option>
                        {% endfor %}
                    </select>
                </div>
                <button class="btn-floating waves-effect waves-light btn per-back-green" type="submit" name="action">
                    <i class="material-icons">create</i>
                </button>            
        </form>
        {% if messages %}
        <div>
            <ul class="red-text">
                {% for message in messages %}
                    <li>{{message}}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}