{% extends 'catalogueESMT/base.html'%}
{% load static %}
{% block content %}
<div class="row">
    <div class="col s6 offset-s3 center per-form">
        <h2>Inscription :</h2>
        <form action="" method="POST">
                {% csrf_token %}
                <div>
                    <label>Intitule :</label>
                    <input type="text" name="intitule">
                </div>
                <div>
                    <label>Public Cible :</label>
                    <input type="text" name="public_cible">
                </div>
                <div>
                    <label>Pre-requis :</label>
                    <input  name="prerequis">
                </div>
                <div>
                    <label>Montant :</label>
                    <input type="number" name="montant">
                </div>
                <div>
                    <label>Animateurs :</label>
                    <input name="animateurs">
                </div>
                <div>
                    <label>Fiche de programme :</label>
                    <input type="text" name="fiche_programme">
                </div>
                <div>
                    <label>Domaine :</label>
                    <input type="text" name="domaine_choisi">
                </div>
                <div>
                    <label>Sessions :</label>
                    <input name="session">
                </div>
                
        </form>
    </div>
</div>
{% endblock %}