{% extends 'catalogueESMT/base.html'%}
{% load static %}
{% block content %}
<div class="row">
    <div class="col s6 offset-s3 center per-form">
        <h2>Inscription :</h2>
        <form action="" method="POST">
                {% csrf_token %}
                <div>
                    <label>Date :</label>
                    <input type="date" name="date">
                </div>
                <div>
                    <label>Duree en jour :</label>
                    <input type="number" name="duree">
                </div>
                <div>
                    <label>Lieu :</label>
                    <input  name="lieu">
                </div>                
        </form>
    </div>
</div>
{% endblock %}