{% extends 'catalogueESMT/base.html'%}
{% load static %}
{% block navbar %}
    <ul class="right hide-on-med-and-down">
        <li><a href="{% url 'catalogueESMT:logout'%}" class="btn-large waves-effect waves-light button-per">Se deconnecter</a></li>
    </ul>
{% endblock %}
{% block content %}
<div class="row">
    {% for formation in formations %}
        <div class="col s12 m4">
            <div class="card svg_background">
                <div class="card-content">
                    <span class="card-title">{{ formation.intitule }}</span>
                    <div class="row">
                            <span class="col s6 left">Publique cible : {{ formation.public_cible }}</span>
                            <span class="col s6 ">Montant : {{ formation.montant }}</span>
                    </div>
                    <div class="row">
                        {% for k,v in formation.DOMAINE_A_CHOISIR %}
                            {% if k == formation.domaine_choisi %}
                                <span class="col s12">Domaine : {{ v }}</span>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="row">
                            {% if formation.prerequis == '' %}
                                <span class="col s12">Pre-requis : Aucun</span>
                            {% else %}
                                <span class="col s12">Pre-requis : {{formation.prerequis}}</span>
                            {% endif %}
                    </div>
                    <div class="row">
                        <span class="col s12">Animateurs : {{ formation.animateurs}}</span>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}