{% extends 'catalogueESMT/base.html'%}
{% load static %}
{% block navbar %}
    <ul class="right hide-on-med-and-down">
        <li><a href="{% url 'catalogueESMT:logout'%}" class="btn-large waves-effect waves-light button-per">Se deconnecter</a></li>
    </ul>
{% endblock %}
{% block content %}
<ul class="collection">
    <li class="collection-item avatar">
        <a href="{% url 'catalogueESMT:ajout_formation' %}">
            <i class="medium material-icons circle blue">add</i>
        </a>
        <span class="title">Ajout</span>
        <p>Ajoutez des formations a la plateforme</p>
    </li>
    <li class="collection-item avatar">
        <a href="{% url 'catalogueESMT:ajout_formation' %}">
            <i class="medium material-icons circle green">list</i>
        </a>
        <span class="title">Lister</span>
        <p>Listez tous les formations présents dans la base de données</p>
    </li>
    <li class="collection-item avatar">
        <a href="{% url 'catalogueESMT:ajout_formation' %}">
            <i class="medium material-icons circle yellow">edit</i>
        </a>
        <span class="title">Modifier</span>
        <p>Modifiez les informations d'une formation donnée</p>
    </li>
    <li class="collection-item avatar">
        <a href="{% url 'catalogueESMT:ajout_formation' %}">
            <i class="medium material-icons circle red">delete</i>
        </a>
        <span class="title">Supprimer</span>
        <p>supprimez des formations </p>
    </li>
</ul>
{% endblock%}